@use '/src/index.scss' as *;
.contactListItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    min-width: 150px;
    justify-content: space-between;
    align-items: center;

    @include shadowed-border;

    .infoList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }
    }

    button:hover,
    button:focus {
        background-color: #ff7575;
    }
}
