.fieldsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-bottom: 15px;
    li {
        label {
            display: flex;
            flex-direction: column;
        }
    }
}
.submitButton {
    width: 100%;
}
